@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add this to your stylesheet */
.text-gradient {
  background: linear-gradient(90deg, #6dd5ed 25%, #2193b0 50%, #6dd5ed 75%);
  background-size: 400% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: moveGradient 5s linear infinite;
}

@keyframes moveGradient {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -300% 0;
  }
}
